{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-success">Congratulations!</h1>
    <p class="lead">
        You have successfully installed a <span class="badge badge-secondary">user-api-demo</span>.<br>
        What next? See <a href="https://github.com/jelen07/user-api-demo#installation" target="_blank">project readme</a> and <a href="https://github.com/jelen07/user-api-demo#user-api" target="_blank">User API</a> section.
    </p>

    {# {{ readme|raw }} #}

{% endblock %}
