{# templates/user/create.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-12 col-xl-3">
        {{ form_start(form) }}
        <h2>{% block title %}Add New User{% endblock %}</h2>
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <a href="{{ path('index') }}">&laquo; Home</a>
    </div>
</div>

{% endblock %}
